:root {
    --primary-color: #f3873d;
    --secondary-color: #14b0da;
    --body-bg-color: #ffffff;
    --text-color: #333333;
    --text-light-color: #85888d;

    --ff-body: "Poppins", sans-serif;
    --ff-highlight: "Nunito", sans-serif;

    --fs-400: 1rem;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    line-height: 1.4;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

img,
video,
iframe {
    max-inline-size: 100%;
    block-size: auto;
    display: block;
}

.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    color: #666;
    border: 2px solid transparent;
}

.btn-select {
    padding: 0.5rem 1rem;
    border-color: #aaa;
}

.btn-select.selected {
    border-color: #3a7cff;
}

.color-btn {
    width: 3rem;
    height: 3rem;
    border-color: #efefef;
    border-radius: 50%;
    position: relative;
}

.color-btn::after {
    content: "";
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.color-btn.blackish::after {
    background: #393939;
}
.color-btn.grey::after {
    background: #bebebe;
}
.color-btn.bluish::after {
    background: #372cad;
}

.image-display {
    overflow: hidden;
}

.image-showcase {
    inline-size: 100%;
    display: flex;
    transition: all 0.5s ease;
}

.image-showcase img {
    min-inline-size: 100%;
}

.image-select {
    display: flex;
}

.image-item {
    margin: 0.3rem;
}
.image-item:nth-child(1),
.image-item:nth-child(2),
.image-item:nth-child(3),
.image-item:nth-child(4) {
    margin-right: 0;
}

.image-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    margin: 1rem 0;
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    color: #12263a;
    position: relative;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    background: #256eff;
    color: #fff;
    margin-bottom: 0.5rem;
    padding: 0 0.3rem;
    display: inline-block;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.8;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.old-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li {
    margin: 0;
    list-style: none;
    background: url(images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

.purchase-info {
    margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.purchase-info input {
    width: 60px;
}

.purchase-info .btn {
    cursor: pointer;
    color: #fff;
}

.purchase-info .btn:first-of-type {
    background: #256eff;
}

.purchase-info .btn:last-of-type {
    background: #f64749;
}

.purchase-info .btn:hover {
    opacity: 0.9;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px) {
    .container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
    }
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .product-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content {
        padding-top: 0;
    }
}
